<html>
<head>
</head>
	<body>
		<div class="container">
  		<div class="row">
  			<div class="col-sm">
  			</div>
  			<div class="col-sm">
  				<h1 class = "text-center"> Ceaser Cipher </h1> <br> <br> <br>
		<form>
			<label> I love secrets! Put in a message and I'll encode it for you." <input type='text' name='message'/></label>
			<label> Give me a number 25 or under, so it's got your touch. <input type='number'name='shift' value = '2'/></label> <br> <br>
			<input class="btn btn-primary center-block" type='submit' value ='submit' />
		</form>
	</div>
	<div class="col-sm">
	</div>
	</div>
	</div>
		<h1 class="text-center">
			<%= new_message %>
		</h1>
	</body>

</html>